<form ng-submit="login()">

<h3>Login </h3>
	<label>Username</label>&nbsp&nbsp
		<input type="text" ng-model="username" required><br><br>
	<label>Password</label>&nbsp&nbsp
		<input type="password" ng-model="password" required><br><br>
	<input type="submit" value="submit" >
{{message}}

</form>

<a href="" ng-click="registration()">Registration</a><br>
<a href="" ng-click="access_code()">Register with Access Code</a><br>
<a href="" ng-click="forgot_password()">Forgot password</a><br>
<a href="" ng-click="request_access()">Request Access</a><br>



